@font-face{
    font-family: 'NeurialGroteskBold';
    src: url('../fonts/NeurialGroteskBold.eot');
    src: url('../fonts/NeurialGroteskBold.eot') format('embedded-opentype'),
         url('../fonts/NeurialGroteskBold.woff2') format('woff2'),
         url('../fonts/NeurialGroteskBold.woff') format('woff'),
         url('../fonts/NeurialGroteskBold.ttf') format('truetype'),
         url('../fonts/NeurialGroteskBold.svg#NeurialGroteskBold') format('svg');
}
@font-face{
    font-family: 'NeurialGroteskMedium';
    src: url('../fonts/NeurialGroteskMedium.eot');
    src: url('../fonts/NeurialGroteskMedium.eot') format('embedded-opentype'),
         url('../fonts/NeurialGroteskMedium.woff2') format('woff2'),
         url('../fonts/NeurialGroteskMedium.woff') format('woff'),
         url('../fonts/NeurialGroteskMedium.ttf') format('truetype'),
         url('../fonts/NeurialGroteskMedium.svg#NeurialGroteskMedium') format('svg');
}
@font-face {
    font-family: 'NeurialGroteskRegular';
    src: url('../fonts/NeurialGroteskRegular.eot');
    src: url('../fonts/NeurialGroteskRegular.eot') format('embedded-opentype'),
         url('../fonts/NeurialGroteskRegular.woff2') format('woff2'),
         url('../fonts/NeurialGroteskRegular.woff') format('woff'),
         url('../fonts/NeurialGroteskRegular.ttf') format('truetype'),
         url('../fonts/NeurialGroteskRegular.svg#NeurialGroteskRegular') format('svg');
}
@font-face {
    font-family: 'NeurialGroteskLight';
    src: url('../fonts/NeurialGroteskLight.eot');
    src: url('../fonts/NeurialGroteskLight.eot') format('embedded-opentype'),
         url('../fonts/NeurialGroteskLight.woff2') format('woff2'),
         url('../fonts/NeurialGroteskLight.woff') format('woff'),
         url('../fonts/NeurialGroteskLight.ttf') format('truetype'),
         url('../fonts/NeurialGroteskLight.svg#NeurialGroteskLight') format('svg');
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'NeurialGroteskRegular';
}
.navbar-expand-md .navbar-nav .nav-link{
    color: #333333;
}
.navbar-nav.me-auto{
    margin-left: auto!important;
    margin-right: 0px !important;
}
.space-left-right{
    padding: 0px 50px;
}
.navbar-expand-md .navbar-nav .nav-link{
    font-size: 22px;
    line-height: 26px;
    font-style: normal;
    font-weight: 500;
    padding: 15px 30px;
    font-family: 'NeurialGroteskMedium';
}
.spaceleft-right{
    padding: 0px 60px;
}
.social-icons {
    margin-right: 30px;
}
.social-icons ul {
    margin: 0px;
    padding: 0px;
}
.social-icons ul li {
    list-style: none;
    display: inline-block;
    margin: 0px 5px;
}
.social-icons ul li a {
    color: #000000;
    font-size: 20px;
}
.btn.phnobtn {
    border: 1px solid #000000;
    background: #ffffff;
    color: #000000;
    font-weight: 700;
    margin-right: 10px;
}
.btn {
    background: #FFC608;
    border-radius: 30px;
    width: 171px;
    font-size: 18px;
    padding: 15px 10px;
    border: 0px;
    color: #000000;
    font-weight: 500;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10);
}
.phnobtn{
    width: 220px;
}
.banner-section-wrapper{
    background-image: url("../images/bannerbg.png");
    padding: 250px 0px 250px;
    background-repeat: no-repeat;
}
.banner-section-wrapper h1{
    font-weight: 700;
    font-size: 80px;
    font-family: 'NeurialGroteskBold';
}
.banner-section-wrapper img{
    width: 100%;
}
.header-wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    padding: 20px 0px 0px;
}
.btn.grey-button{
    width: 330px;
    display: inline-block;
    background-color: #E6FAFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.button-group.banner-button .btn{
    font-size: 22px;
    margin-right: 40px;
    font-family: 'NeurialGroteskMedium';
}
.button-group.banner-button{
    margin-top: 60px;
}
.btn.bookdemo{
    font-size: 22px;
    width: 220px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.btn.grey-button:hover{
    color: #ffffff;
    background-color: #0b5ed7;
}
.qrcode-section-wrapper .qrcode{
    text-align: center;
}
.qrcode-section-wrapper{
    margin-top: -250px;
    padding-bottom: 150px;
}
.qrcode-content p{
    font-weight: 400;
    font-size: 35px;
    line-height: 58px;
    color: #000000;
    text-align: center;
    margin: 100px 0px 0px;
}
.unique-qr-portal h2{
    font-size: 80px;
    font-family: 'NeurialGroteskLight';
    text-align: center;
}
.unique-qr-portal{
    background-image: url("../images/herearebg.png");
    padding: 200px 0px 300px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.thumb-style{
    background: #F2F2E4;
    border-radius: 28px;
    padding: 40px 30px;
    position: relative;
    margin-bottom: 40px;
    height: 530px;
}
.thumb-style h5{
    font-weight: 500;
    font-size: 25px;
    font-family: 'NeurialGroteskMedium';
    margin-bottom: 20px;
    text-transform: capitalize;
}
.thumb-style p{
    font-size: 18px;
    line-height: 30px;
}
.thumbicon{
    margin-bottom: 30px;
}
.thumb-style a {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
}
.unique-qr-portal .thumbnail-row{
    margin-top: 70px;
}
.getbest-section-title{
    background-image: url(../images/layerbg.png);
    background-position: top left;
    padding: 200px 0px 0px;
    margin-top: -200px;
}
.getbest-section-title h2{
    font-family: 'NeurialGroteskLight';
    font-size: 70px;
    line-height: 77px;
}
.getbest-thumbnail h6{
    font-size: 30px;
    font-family: 'NeurialGroteskMedium';
}
.getbest-thumbnail{
    text-align: center;
    margin-bottom: 80px;
}
.getbest-thumbnail-wrapper{
    background-color: #BFF4B8;
    padding: 60px 0px;
}
.layerbg-bottom{
    background-image: url("../images/layerbg-bottom.png");
    height: 185px;
    background-position: bottom left;
}
.getbest-icon{
    margin-bottom: 20px;
}
h2.section-title{
    font-family: 'NeurialGroteskLight';
    font-size: 70px;
    line-height: 77px;
}
.trusted-by h2.section-title{
    text-align: center;
    margin-bottom: 100px;
}
.trusted-by{
    padding: 100px 0px;
}
.logos img{
    width: 100%;
}
.client-logos-wrapper .owl-nav{
    text-align: center;
    margin-top: 20px;
}
.client-logos-wrapper .owl-nav button span{
    font-size: 20px;
    display: inline-block;
    top: -2px;
    position: relative;
}
.client-logos-wrapper .owl-nav button{
    margin: 0px 5px;
    background-color: #BFF4B8 !important;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.video-section-wrapper h4{
    font-size: 60px;
    line-height: 80px;
}
.video-section-wrapper h4 b{
    font-family: 'NeurialGroteskBold';
}
.video-section-wrapper a{
    font-size: 18px;
    line-height: 22px;
    color: #006A43;
    display: block;
    margin-top: 50px;
}
.video-section-wrapper a i{
    font-size: 30px;
    line-height: 22px;
    position: relative;
    top: 6px;
    color: #7233FF;
}
.owl-two.owl-carousel .owl-nav{
    display: none;
}
.owl-two.owl-carousel button{
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    border: 1px solid #EFC352;
    border-radius: 100px;
    margin: 0px 4px;
}
.owl-two.owl-carousel button.owl-dot.active{
    background: #F4AE00;
}
.owl-two.owl-carousel .owl-dots{
    margin-top: 30px;
    text-align: center;
}
.footer-green{
    background-color: #006A43;
}
.easylogo img{
    width: auto;
    margin-top: -130px;
}
.easylogo{
    text-align: center;
}
.video-section-wrapper{
    padding-bottom: 250px;
}
.readyto h2{
    font-size: 80px;
    font-family: 'NeurialGroteskBold';
    line-height: 100px;
    color: #ffffff;
}
.readyto p{
    font-size: 28px;
    font-family: NeurialGroteskRegular;
    line-height: 52px;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-green .btn.phnobtn{
    width: 350px;
}
.footer-green .btn{
    font-size: 22px;
    font-family: 'NeurialGroteskMedium';
}
.btn.demobtn{
    width: 230px;
}
.readyto .button-group{
    margin-top: 30px;
}
.readyto{
    padding: 122px 0px;
}
.footer-links h6{
    font-size: 24px;
    line-height: 36px;
    font-family: 'NeurialGroteskBold';
    margin-bottom: 20px;
}
.footer-links ul{
    margin: 0px;
    padding: 0px;
}
.footer-links ul li{
    list-style: none;
}
.footer-links ul li a{
    list-style: none;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-family: 'NeurialGroteskMedium';
    margin-bottom: 12px;
    display: block;
}
.countries-list li{
    width: 50%;
    display: flex;
}
.countries-list{
    display: flex;
    flex-wrap: wrap;
}
.footer-links ul li a i{
    margin-left: 10px;
}
.main-footer {
    padding: 80px 20px 50px;
}
.footer-subscribe h5{
    font-size: 28px;
    line-height: 42px;
    font-family: 'NeurialGroteskMedium';
}
.footer-subscribe input{
    background: #F5F5F5;
    border-radius: 10px;
    height: 68px;
}
.footer-subscribe .btn{
    height: 68px;
    border-radius: 10px;
    width: 100%;
}
.header-wrapper.inner-page-header{
    position: static;
}
.qrcode img{
    width: auto;
}
.banner-section-wrapper.rounded-corner-banners{
    border-radius: 40px;
    margin: 0px 60px;
    background-color: #FEFADC;
    background-image: none;
    padding: 150px 0px 150px;
}
.banner-section-wrapper.rounded-corner-banners.marketing-banner{
    padding: 150px 0px 450px;
}
.qrcode-section-wrapper.uniqueqrportal{
    margin-top: -650px;
    padding-bottom: 100px;
}
.qrcode-section-wrapper.uniqueqrportal.marketing-banner-image .qrcode-content p{
    margin-top: 60px;
    font-size: 30px;
}
.qrcode-section-wrapper.uniqueqrportal.marketing-banner-image .qrcode img{
    width: 100%;
}
.feature-image {
    text-align: center;
}
.feature-box-row{
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.feature-box h3{
    font-size: 40px;
    font-family: 'NeurialGroteskMedium';
    margin-bottom: 30px;
}
.feature-box p{
    font-size: 25px;
    line-height: 40px;
}
.margin-bottom-100{
    margin-bottom: 100px;
}
.feature-image img {
    max-width: 100%;
}
.light-green-content{
    border-radius: 100px 100px 0px 0px;
    background: #BFF4B8;
    padding: 60px;
    text-align: center;
}
.light-green-content{
    color: #006A43;
    font-size: 22px;
    line-height: 40px;
    padding: 60px 60px 150px;
}
.trustedby-green{
    margin-top: 100px;
}
.dark-green-content {
    border-radius: 100px 100px 0px 0px;
    background: #006A43;
    margin-top: -100px;
    z-index: 2;
    position: relative;
    padding: 100px 60px 60px;
}
.light-green-content b{
    margin-top: 30px;
    display: block;
}
.dark-green-content h2.section-title{
    color: #ffffff;
}
.dark-green-content p{
    color: #ffffff;
    font-size: 20px;
    line-height: 40px;
}
.drive-impact h3{
    font-size: 60px;
}
.video-section-wrapper.drive-impact{
    padding-top: 150px;
}
.tes-logo img{
    max-width: 100%;
    width: auto !important;
}
.testimonial-content h6{
    display: flex;
    align-items: center;
}
.tes-logo{
    margin-left: 20px;
}
.testimonial-content{
    border-radius: 21px;
    background: #C1FFE1;
    padding: 40px;
}
.testimonial-content p{
    font-size: 28px;
    line-height: 50px;
}
.testimonial-content h6{
    font-size: 20px;
}
.banner-section-wrapper.rounded-corner-banners.properties-management-banner{
    padding: 150px 0px 450px;
}
.banner-section-wrapper.rounded-corner-banners.appointment-management-banner{
    margin-bottom: 100px;
}
.margin-bottom-60{
    margin-bottom: 60px;
}
.btn.big-btn{
    font-size: 22px;
    font-weight: 500;
    height: 65px;
    padding: 15px 50px;
    width: auto;
}
.banner-section-wrapper.rounded-corner-banners.properties-management-banner{
    background: #E6F4FF;
}
.some-features .thumb-style{
    height: 660px;
}
.some-features .thumb-style h5{
    font-size: 21px;
    line-height: 30px;
}
.blue-thumb{
    background: #C7FEFF;
}
.cream-thumb{
    background: #FEFADC;
}
.pink-thumb{
    background: #FFDBD5;
}
.purple-thumb{
    background: #D9E5FF;
}
.banner-section-wrapper p{
    font-size: 30px;
    list-style: 40px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.banner-section-wrapper.rounded-corner-banners.appointment-management-banner{
    background: #FFDBD5;
}
.seeav-thumb{
    background: #E6F4FF;
}
.makequick-thumb{
    background: #C1FFE1;
}
.appointment-thumb{
    background: #C7FEFF;
}
.pp-thumb{
    background: #FEFADC;
}
.pos-thumb{
    background: #FFDBD5;
}
.marketing-thumb{
    background: #FFF0E3;
}
.letyour-thumb{
    background: #E8F8CE;
}
.product-inventory-thumb{
    background: #C5E5FF;
}
.reporting-thumb{
    background: #F5E8FF;
}
.getmore-thumb{
    background: #C7FEFF;
}
.light-green-content.light-pink-content{
    background: #F9CCCE;
    padding-top: 100px;
    padding-bottom: 200px;
}
.banner-section-wrapper.rounded-corner-banners.easyspa-banner{
    background-color: #B4E7EA;
}
.banner-section-wrapper.rounded-corner-banners.sellgift-banner{
    background: #FFE280;
}
.margintop100{
    margin-top: 100px;
}
.margintop60{
    margin-top: 60px;
}
.banner-section-wrapper.rounded-corner-banners.employee-banner{
    background: #C7FEFF;
}
.banner-section-wrapper.rounded-corner-banners.billingpayment-banner{
    background: #F5E8FF;
}
.banner-section-wrapper.rounded-corner-banners.report-graph-banner{
    background: #EBF2FF;
}
.banner-section-wrapper.rounded-corner-banners.inventory-management-banner{
    background-color: #38E1C0;
}
.light-green-content.grey-bgg{
    background: #EBF2FF;
}
.light-green-content.grey-bgg p{    
    color: #000000;
}
.light-green-content.grey-bgg b{    
    color: #000000;
}
.some-features.key-features .thumb-style{
    height: 500px;
}
.light-green-content.light-pink-content h3{
    font-size: 60px;
    color: #282828;
    text-align: center;
    font-weight: 700;
}
.quality-wrapper h6{
    color: #000;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
}
.light-green-content.skyblue-content{
    background: #B4E7EA;
}
.trustedby-green-wrapper h3{
    font-size: 60px;
    color: #282828;
    text-align: center;
    font-weight: 700;
}
.margin-top-100{
    margin-top: 100px;
}
.banner-section-wrapper.rounded-corner-banners.tatto-banner{
    background: #C5E5FF;
}
.banner-section-wrapper.rounded-corner-banners.carspa-banner{
    background: #FFDED3;
}
.banner-section-wrapper.rounded-corner-banners.naiart-banner{
    background-color: #FEFADC;
}
.banner-section-wrapper.rounded-corner-banners.easypet-banner{
    background: #DCFEFE;
}
@media only screen and (min-width:1920px){

	.container-fluid{
		width: 1720px;
	}
}

